.class{
background-color:#b879f2;
font-style:"calibri";
color:white;
padding:10px;
}

#id{ 
background-color:#e36273;
font-family:"ariel";
color:black;
padding:10px;

}
p{
background-color:#e3a262;
font-family:"roboto";
color:black;
padding:10px;                                                                                                                                                     }
